cycler==0.10.0
dill==0.2.8.2
kiwisolver==1.0.1
matplotlib==2.2.2
multiprocess==0.70.6.1
numpy==1.14.5
pandas==0.23.1
pathos==0.2.2
pox==0.2.4
ppft==1.6.4.8
pymds==0.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
